{% extends "index.html" %}
{% block title %}{{ genre_name }}{% endblock %}
{% block body %}
{{ super() }}
<h1 id="genre">{{ genre_name }}</h1>
<div class="movies">
    {% for movie in genre_data %}
        {% if genre_data[movie][1] %}
          <li>
              <a href="{{ url_for ('movie_details', movie_name=genre_data[movie][3]) }}" target="_blank"><img src="https://image.tmdb.org/t/p/w500/{{ genre_data[movie][1] }}"></a> 
              <h2>{{ genre_data[movie][4] }}</h2>
          </li>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}