@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {box-sizing: border-box;}
.search {color: white !important;}
body {background-color: rgb(16, 16, 48) !important; font-family: Poppins !important; color: white !important;}

#navLogo {color: white !important;}
#popular {margin-left: 1% !important;}
#genre {margin-left: 1% !important;}
#search {margin-left: 1% !important;}

.movies { 
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.movies li {
    transition-duration: 0.4s;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    list-style: none !important;
    text-align: center !important;
}

.movies li img {
    transition-duration: 0.4s;
    min-width: 300px;
    max-width: 300px !important;
    min-height: 450px !important;
    max-height: 450px !important;
    border-radius: 12px !important;
}

.movies li:hover{
    opacity: 0.6 !important;
}

.movies li h2{
    color: white !important;
    font-size: 1.5em !important;
    margin-top: auto !important;
}

@media only screen and (max-width: 600px) {
    .movies { 
        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }
    
    .movies li {
        transition-duration: 0.4s;
        flex: 1 !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        list-style: none !important;
        text-align: center !important;
    }
    
    .movies li img {
        transition-duration: 0.4s;
        max-width: 100px !important;
        border-radius: 12px !important;
    }
    
    .movies li h2{
        color: white !important;
        font-size: 0.7em !important;
        margin-top: auto !important;
    }
}

#movie_name {margin-left: 37% !important; margin-top: -45% !important; font-family: Poppins;}
#movie_thumb {width: 35% !important; height: auto !important;}
#movie_name {margin-left: 37% !important; margin-top: -45% !important; font-family: Poppins;}
#movie_desc {margin-left: 37% !important; font-family: Poppins;}
#movie_rate {margin-left: 37% !important; font-family: Poppins;}
#movie_release_date {margin-left: 37% !important; font-family: Poppins; margin-top: 2%;}
#similar_movies {margin-left: 37%; margin-top: 10%;}
.star {margin-left: 40% !important; margin-top: -41px !important;}

.sim_movies { 
    color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 24%;
    width: 40% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.sim_movies li {
    transition-duration: 0.4s;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    list-style: none !important;
    text-align: center !important;
}

.sim_movies li img {
    transition-duration: 0.4s;
    max-width: 100px !important;
    border-radius: 12px !important;
}

.sim_movies li:hover{
    opacity: 0.6 !important;
}

.sim_movies li h2{
    color: white !important;
    font-size: 1.5em !important;
    margin-top: auto !important;
}

#videocontainer {margin-top: 15% !important; height: 200px !important;}

#videos {text-align: center;}
.movie-videos {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.movie-videos::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.providers {margin-top: 15%; text-align: center;}


@media only screen and (max-width: 1800px) {
    .sim_movies { 
        color: white;
        position: absolute;
        margin-top: 1%;
        margin-left: 30%;
        width: 40% !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

}