@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#movie_thumb {width: 35% !important; height: auto !important;}
.container {margin-top: 3% !important; color: white;}

body {background-color: rgb(16, 16, 48) !important; font-family: Poppins !important;}

#movie_name {margin-left: 37% !important; margin-top: -45% !important; font-family: Poppins;}
#movie_desc {margin-left: 37% !important; font-family: Poppins;}
#movie_rate {margin-left: 37% !important; font-family: Poppins;}
#movie_release_date {margin-left: 37% !important; font-family: Poppins; margin-top: 2%;}
#similar_movies {margin-left: 37%; margin-top: 10%;}
.star {margin-left: 40% !important; margin-top: -41px !important;}

.movies { 
    color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 24%;
    width: 40% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.movies li {
    transition-duration: 0.4s;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    list-style: none !important;
    text-align: center !important;
}

.movies li img {
    transition-duration: 0.4s;
    max-width: 100px !important;
    border-radius: 12px !important;
}

.movies li:hover{
    opacity: 0.6 !important;
}

.movies li h2{
    color: white !important;
    font-size: 1.5em !important;
    margin-top: auto !important;
}